.App {
  display: flex;
  flex-direction: column;
  /* flex-direction: row; */
  /* width: 100%; */
  justify-content: space-around;
  /* padding: inherit; */
  /* margin: auto; */
  /* overflow: hidden; */
}

.frame{
    background-image: url("https://media.giphy.com/media/k4ZItrTKDPnSU/source.gif");
    background-repeat: no-repeat;
    background-color: blue;
    width: 78%;
    height: 100px;
    align-self: center;
    align-content: center;
}

.buttons{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

button{
    width:40vw;
    height:15vh;
    min-width:30px;
    min-height:40px;

    max-width: 150px;
    max-height: 40px;
    opacity: .8;
    color: lightblue;
    border-radius: 30px;
    background-color: darkblue;
    border-color: lightblue;
    border-style: solid;
    /* font-size: 3vh; */
    font-size: 1em;


    margin-top: 2vh;
}

button:hover{
    color: darkblue;
    background-color: lightblue;
    border-color: darkblue;
}

.boxes {
  display: flex;
  flex-direction: column;
  /* flex-direction: row; */
  /* width: 100%; */
  justify-content: space-around;
  /* padding: inherit; */
  /* margin: auto; */
  /* overflow: hidden; */
  margin-top:4vw;
  margin-bottom:auto;
  /* margin: auto; */
    /* bottom:auto; */

    margin:5vw;
    padding: 5vw;

}

.input-Box{
    position: absolute;
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */

    /* height:50%; */
    width:78%;
    bottom: 15%;
    align-self: center;

    /* margin-left: 3vw; */
    justify-content: space-between;
    /* align-self: center; */
    max-width: 500px;

}

.input{
    /* width: 40vw;
    height: 50vh; */
    outline:none;
    /* border-color: lightblue;
    border-style: solid;
    border-width: medium; */

}

.output-Box{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    bottom: 35vh; /*40%*/
    height:50vh; /*50%*/
    width:78%;
    align-self: center;

    max-width: 500px;
    /* background-color: red; */

    border-color: lightgrey;
    border-style: solid;
    border-width: thin;
    overflow: scroll;
    padding: .5em;

    font-size: 1.5em;

}

.output{
    font: normal;
    line-height: 1.6;
    letter-spacing: 1px;
    /* margin:3vw;
    padding: 3vw; */
    /* border-radius: 1px;
    border-color: grey;
    border-width: thin; */
}

.tweetButton{
    align-self:flex-end;
    margin-top: 25px;
    margin-bottom: 10px;

    /* position: absolute;
    right:2%;
    bottom: 40vh; /*40%*/

    /* bottom: 100%; */

    /* width:20vw;
    height:20vw;
    max-width: 150px;
    max-height: 150px;

    border-radius: 100px; */

    /* opacity: .8;
    color: lightblue;
    background-color: darkblue;
    border-color: lightblue;
    border-style: solid;
    font-size: 3vh;
    margin-top: 2vh; */
}

@media only screen and (min-width: 1000px){
    button{
        font-size: 2vh;
    }
}

@media only screen and (min-height: 1000px){
    button{
        font-size: 2vh;
        /* margin-bottom: 5vh; */
    }
}
