.App {
  display: flex;
  flex-direction: column;
  /* flex-direction: row; */
  /* width: 100%; */
  justify-content: space-around;
  /* padding: inherit; */
  /* margin: auto; */
  /* overflow: hidden; */
}

button{
    width:20vh;
    height:15vh;
    max-width: 150px;
    max-height: 40px;
    opacity: .8;
    color: lightblue;
    border-radius: 30px;
    background-color: darkblue;
    border-color: lightblue;
    border-style: solid;
    /* position: absolute;
    right: 6.6vw;
    top: 88vh; */
    align-self: center;
    font-size: 3vh;
    margin-bottom: 2vh;
}

.boxes {
  display: flex;
  /* flex-direction: column; */
  /* flex-direction: row; */
  /* width: 100%; */
  justify-content: space-around;
  /* padding: inherit; */
  /* margin: auto; */
  /* overflow: hidden; */
  margin-top:1vw;
  margin-bottom:auto;
  /* margin: auto; */
    /* bottom:auto; */


}

.input-Box{
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    /* width: 100%; */
    justify-content: space-between;
}

.input{
    width: 40vw;
    height: 50vh;
    border-color: lightblue;
    border-style: solid;
    border-width: medium;
}

.output-Box{
    width: 50vw;
    height: 95vh;
    border-color: lightblue;
    border-style: solid;
    overflow: scroll;
    font-size: 3vh;
}

.output{
    font: normal;
    line-height: 1.6;
    letter-spacing: 1px;
    margin:3vw;
}

@media only screen and (min-width: 1000px){
    button{
        font-size: 2vh;
    }
}

@media only screen and (min-height: 1000px){
    button{
        font-size: 2vh;
        margin-bottom: 5vh;
    }
}
